{{page-title "Create an Account"}}
<TopBar></TopBar>


<div class="change-password-container" align="center">
  <h5>Create an Account</h5>

  <MdcTextfield @style="outlined" required="true" placeholder="Username" @value={{this.username}} {{on "change" this.check}} rows="1"/>
  <br>
  <MdcTextfield @style="outlined" type="email" required="true" placeholder="Email" @value={{this.email}} {{on "change" this.check}} rows="1"/>
  <br>

  <hr width="40%">

  <br>
  <MdcPasswordTextfield @style="outlined" required="true" placeholder="Password" @value={{this.password1}} {{on "change" this.check}} rows="1"/>
  <br>
  <MdcPasswordTextfield @style="outlined" required="true" placeholder="Confirm Password" @value={{this.password2}} {{on "change" this.check}} rows="1"/>


  {{#if this.errorPresent}}
    <p class="error-message">{{this.errorMessage}}</p>
  {{/if}}


  <br><br>
  <MdcButton @style="unelevated" {{on 'click' this.create}} disabled={{not this.valid}}>
    Create Account
  </MdcButton>
</div>

