{{page-title "Sign In"}}
<TopBar></TopBar>

<div class="change-password-container" align="center">
  <h5>Sign In</h5>

  <MdcPasswordTextfield @style="outlined" required="true" placeholder="Username or Email" @value={{this.username}} {{on "change" this.check}} rows="1"/>
  <br>
  <MdcPasswordTextfield @style="outlined" required="true" placeholder="Password" @value={{this.password}} {{on "change" this.check}} rows="1"/>
  <br>


  {{#if this.errorPresent}}
    <p class="error-message">{{this.errorMessage}}</p>
  {{/if}}


  <br><br>
  <MdcButton @style="unelevated" {{on 'click' this.login}} disabled={{not this.valid}}>
    Login
  </MdcButton>
</div>
