{{page-title "Change your Password"}}
<TopBar></TopBar>

<div class="change-password-container" align="center">
  <h5>Change Password</h5>
  <MdcPasswordTextfield @style="outlined" placeholder="Old Password" @value={{this.oldPassword}} {{on "change" this.checkPasswords}} rows="1"/>
  <br>
  <MdcPasswordTextfield @style="outlined" placeholder="New Password" @value={{this.newPassword1}} {{on "change" this.checkPasswords}} rows="1"/>
  <br>
  <MdcPasswordTextfield @style="outlined" placeholder="Confirm New Password" @value={{this.newPassword2}} {{on "change" this.checkPasswords}} rows="1"/>


  {{#if this.errorPresent}}
    <p class="error-message">{{this.errorMessage}}</p>
  {{/if}}


  <br><br>
  <MdcButton @style="unelevated" {{on 'click' this.changePassword}} disabled={{not this.validPasswords}}>
    Change Password
  </MdcButton>
</div>
